extend layout
block content
 h1  Quienes sómos?
 p
  | Cervecería Feria Tradicional es una empresa poblana enfocada a la elaboración de cerveza de manera independiente.
  | Desde el 2014, propone estilos tradicionales de cervezas imponiendo recetas propias logrando un nuevo enfoque gracias a las recetas propias.
  | La identidad está basada en la fusión de elementos que han marcado hito en la cultura mundial y otros que marcan el folklore mexicano como un elemento propio.
  | El enfoque es la elaboración de cerveza de manera artesanal de la mejor calidad implementando los procesos más estrictos y selección de materias primas.

block sidebar
  .widget
    h1 Beer Fact
    p
      | George Washington
      | had his own brewhouse
      | on the grounds of
      | Mount Vernon.
      