extend layout
block content
  p
    | Bienvenido a Cervecería Feria Tradicional
    | Este sitio se encuentra en construcción.
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.
block sidebar
  .widget
    h1 Beer Fact
    p
      | La receta de cerveza
      | más antigüa de la historia
      | tiene más de 4,000 años.
      | Pertenece a los sumerios.