extend layout
block content
 img(src='/img/tarjetas.jpg',id="logo")
  h1 Alacrán
  h2 Imperial Stout
  p
   | Cerveza muy oscura que tiñe de tonos rojos su espuma.
   | Desde el primer acercamiento el aroma invade todos los sentidos:
   | El lúpulo marcado te llevará a recuerdos de frescos atardeceres del norte del país, mientras las maltas tostadas proporcionarán sensación de calidez de la península de Yucatán  al mismo tiempo.
   | No es una cerveza tímida, como alacrán se impone y es fuerte hasta el final, no teme a dejar su presencia en tu paladar.
   | Sabores que evocan a nuestras playas; el café y el cacao tostado, dejando un final seco y dulce.
   | Por su grado alcohólico elevado te incita a una Feria Mexicana, una fiesta alegre.
   | Digna para emperadores como Moctezuma.
  h1 Diablito
  h2 Red ale
  p
   | Cerveza oscura con tonos rojizos, espuma clara y contrastante.
   | Tomar en vaso de boca amplia para potencializar su sutíl aroma acaramelado.
   | El primer impacto es el sabor marcado de nuestra selección de maltas. El diablito es un maestro en el disfraz, te puede sorprender como el pequeño chaneque juguetón e inofensivo se lleva a los inocentes con risas y juegos. 
   | Hay un diablito colado en esta fiesta de sabores de Feria Tradicional, te ofrece sutiles aromas y sabores delicados para degustar con tus amigos en un ambiente tranquilo, pero el diablo está en los detalles así que mucho cuidado.
  h1 Romina 
   h2 Mexican Red ale
   p
    | México es una combinación de culturas, y nuestras fiestas también lo son.
    | La mística relación de fiestas paganas y religiosas en nuestras Ferias tradicionales, nuestros muertos, nuestros santos inocentes, nuestro carnaval son un ejemplo de ello.
    | Cerveza Romina representa todo esto.
    | Es la belleza Mexicana tradicional, pero con ojos verdes, una combinación perfecta de alegre y elegante.
    | Factores que mezclados solamente de la manera adecuada podrán cautivar tus sentidos.
    | Cuidado con la seductora sonrisa, porque en la mirada se esconde uma mágia misteriosa de la que no podrás escapar.


   

    